.photo{
  min-height: auto;
  display: block;
  margin: 15px;
}
.photo__bele{
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.photo__bele {
  border-radius: 50%;
  
  width: 120px;
  height: 122px;
  padding: 15px;
  background-image: url("../assets/images/belle.jpeg");
  background-size: cover;
 
}
.links{
  display: flex;
 justify-content: center;
}
#text{
  width: 32px;
}
#nurse{
  width: 32px;
}
#phone{
  width: 32px;
}