.photo{
  min-height: auto;
  display: block;
  margin: 15px;
}
.photo__bele{
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.photo__bele {
  border-radius: 50%;
  
  width: 120px;
  height: 122px;
  padding: 15px;
  background-image: url("../assets/images/belle.jpeg");
  background-size: cover; 
}
.links{
  display: flex;
 justify-content: center;
}
#text{
  width: 32px;
}
#nurse{
  width: 32px;
}
#phone{
  width: 32px;
}
.about{
  display: block;
  min-height: 100vh; 
  /* flex-box */
  display: flex;
  flex-direction: column;
}
.about__text{
  width: 40%;
  height: auto;
  margin-left: 76px;
  background-color: #FCF8F8;
  box-shadow: 18px 18px 18px #07FC4B;  
  /* flex-box */
  display: flex;
  justify-content: center ;
  flex-direction: column;
  align-items: center;
}
.about__text h1{
  text-transform: uppercase;
  padding: 12px;
  font-family: 'Caveat Brush', cursive;
  font-size: 28px; 
  box-shadow: 10px 10px  10px;
  margin-bottom: 22px;
}
.about__text #text{
  width: 42px;
}
.about__text .textParagrapy p{
   padding: 12px;
   font-family: 'Roboto', sans-serif;
   font-size: 18px;
}
.textCourses{
  display: flex;
  flex-direction: column;
  align-items: center;
 gap: 20px;
}
.textCourses li{
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  
 list-style: none;
 padding-bottom: 12px;
}
.about__services h1{
  text-transform: uppercase;
  font-family: 'Caveat Brush', cursive;
  font-size: 28px; 
  box-shadow: 10px 10px  10px;
  margin-bottom: 22px;

}
.about__services{
  background-color: #FCF8F8;
  width: 40%;
  height: auto;
  margin-top: -32px;
  margin-right: 76px;
  align-self: flex-end;
  box-shadow: 18px 18px 18px #07FC4B;
  margin-bottom: 100px; 
  /* flex-box */
 display: flex;
 flex-direction: column;
 align-items: center;
}
.about__services h1{
  padding: 22px;
}
.about__services .servicesList{
  list-style: none;
}
.servicesList li{
  padding: 22px;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
}
.servicesList{
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media(max-width:970px){
  .about__services{ 
    margin: 32px;
    margin-right: 76px;
  }
}
@media(max-width:660px){
  .about__text{
   width: 80%;
   margin-left: 36px;
   margin: 20px auto;
   border-radius:20px ;
  }
  .about__services{
    margin-top: 42px;
    width: 80%;
    margin: 34px auto; 
    border-radius:20px ;
  }
  .about{
    display: flex;
    flex-direction: column;
    margin-bottom: 34px;
  }
}
@media(max-width:420px){
  .textCourses li{
    text-align: center;
    padding: 12px;
  }
}